html
    heade
        title= title
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        include includes/header.pug
        p
            a.foo_link(href='about.html', target='_blank') About Us
    include includes/footer.pug